# -*- coding: utf-8 -*-
"""
A python tool for publishing select data from the
[Animal Movement](https://github.com/AKROGIS/AnimalMovement)
database (an internal SQL Server) to a public [Carto](https://carto.com)
database.  The tool keeps track of what data has already been published, and
only pushes changes since the last run.  It is best run as a scheduled task.

Copy this file to `carto_secret.py` and replace the curly bracket text `{TEXT}`
with valid values.

NPS Alaska users can find the username and API key in our password keeper on
the teams network drive. otherwise see
<https://carto.com/developers/auth-api/guides/CARTO-Authorization/> for
instructions on creating an API key for your domain.
"""

from __future__ import absolute_import, division, print_function, unicode_literals

# Your Carto domain (aka username)
domain = "{USERNAME}"

# Your API key
apikey = "{XXXX}"
